p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkturquoise;
}
.yazh
{
    color: crimson;
}
#id1
{
    font-size: 24px;
}
*
{
    background-color: rgb(125, 155, 156);
}
h3,h4
{
font-style: italic;
}